.nnavbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation: slideTop 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nnavbar a.active,
.nnavbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bbtn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 38px;
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.bbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
}

.bbtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    transition: .5s ease;
}

.bbtn:hover::after {
    background-position: 100% 0;
}